{{ $content_type := .Params.content_type }}
{{if $content_type}}
{{ $t := .Site.GetPage $content_type }}
{{ $rscPages := $t.Resources.ByType "page"}}


{{if gt (len $rscPages) 0}}
<div class="projects row w-100">
    <div class="col w-100">
        {{range $page := sort $rscPages "Params.date" "desc"}}
        <div class="project row w-100">


            <div class="section-1 w-100">
                <span class="project-title">
                    {{$page.Params.title}}
                </span>
            </div>

            {{ $links := $page.Params.links }}
            {{ if $links }}
            <div class="section-2  w-100">
                {{range $link_name, $link_url := $links}}
                {{ if eq $link_name "website"}}
                        <a class="main_color text-decoration-none rounded" href="{{$link_url}}" target="_blank">
                            🌎 {{$link_name}}
                        </a>
                    {{end}}
                
                {{ if eq $link_name "video"}}
                        <a class="main_color text-decoration-none rounded" href="{{$link_url}}" target="_blank">
                            🎬 {{$link_name}}
                        </a>
                    {{end}}
                {{end}}
            </div>
            {{end}}



            {{ $images := $page.Params.images }}
            {{if $images}}
           
                <div class="gallery js-flickity" style="width: 100%!important; margin-bottom: 20px;"
                data-flickity-options='{ "wrapAround": true }'>
                {{range $img_url := $images}}
                    
                        <img src="{{$img_url}}" height="100%" class="gallery-cell">
                    
                {{end}}
            {{end}}
            </div>
            


        </div>
        {{end}}


    </div>
    {{end}}
</div>
{{end}}